<%- include('../partials/header') -%>

<div class="container">
	<h1 style="text-align: center">EDIT GALLERY </h1>
	<div class="row">
		
		<div style="width: 30%; margin: 25px auto">
			
			<form method="POST", action="/gallery/<%= gallery._id %>?_method=PUT">
				<div class="form-group">
					<input class="form-control" type="text" name="newGallery[image]"
					placeholder="Image URL" value="<%= gallery.image %>" required>
				</div>

				<div class="form-group">
					<input class="form-control" type="text" name="newGallery[description]"
					placeholder="Short Description" value="<%= gallery.description %>" required>
				</div>


				<div class="form-group">
					<button class="btn btn-primary btn-lg btn-block">Submit</button>
				</div>
				
				
			</form>
			<a href="/gallery">Go Back!!</a>
		</div>
		
	</div>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


<%- include('../partials/footer') -%>